@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900');
@import url('font-awesome.min.css');
	
#body{
	background-color: #E8E8E8;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	font-size: 18pt;
	line-height: 1.75em;
	color: #39454b;
	padding-top: 60px;
	letter-spacing: 0.5px;	
}

#header {
	position: fixed;
	z-index: 10000;
	left: 0;
	top: 0;
	width: 100%;
	background: #fff;
	background: rgba(255,255,255,0.95);
	line-height: 3em;
	box-shadow: 0 0 0.15em 0 rgba(0,0,0,0.1);
	padding: 5px 0 5px 0;
}

#customnav {
	background-color: #FFFFFF;
	border-color: #FFFFFF;
	margin-bottom: 0;
}

#customcont{
	padding-right: 0;
}

#mainmenu ul li:hover {
	background-color: #E3E3E3;
}

#intro {
	background: url('../img/intro.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: bottom center;
	background-repeat: no-repeat;
	text-align: center;
}

#intro .content {
	height: 5in;
	background:rgba(255,255,255,0.5);	
}

#intro .content h2, #aboutme .content h2, #projects .content h2, #contact .content h2 {	
	font-size: 4.25em;
	line-height: 1em;
	letter-spacing: -4px;
	font-weight: 300;
	color: inherit;
	color: #FFF;	
}

#pic_button {
	color: #E8E8E8;
	background-color:rgba(57,69,75, 0.5);
}

#aboutme {	
	background: url('../img/aboutme.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: bottom center;
	background-repeat: no-repeat;
	text-align: center;
	color: #E8E8E8;	
}
#japanpic {
	position: absolute;	
}

#aboutme .content div, #projects .content div, #contact .content div {
	background:rgba(255,255,255,0.5);
	padding: 20px;
	margin: 30px;
	text-align: left;
}

#aboutme .content div img {
	float: left;	
	opacity: .85;
	padding: 0 30px 0 0;
}

#aboutme .content div p, #projects .content div p {
	position: relative;	
	opacity: .85;
	color: #39454b;

}

#projects {
	background: url('../img/projects.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: bottom center;
	background-repeat: no-repeat;
	text-align: center;
	color: #E8E8E8;	
}

#projects .content div img {	
	opacity: .85;
	padding: 0 30px 0 0;
	float: left;
}

#projects .content div p {
	color: #39454b;	 
}

#projects .content, #contact .content {	
	background:rgba(255,255,255,0.5);
	padding: 0 0 200px 0;	
}

#aboutme .content{
	background:rgba(255,255,255,0.5);
	padding-bottom: 300px;
} 

#contact {
	background: url('../img/books.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: bottom center;
	background-repeat: no-repeat;
	text-align: center;
}

#hack{
	height: 250px;
}

.icon {	
	color: rgba(75, 82, 90, 0.5);
}
.icon:before {
	display: inline-block;
	font-family: FontAwesome;
	font-size: 1.25em;
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



